/* ==UserStyle==
@name           Collapsing Sidebars for Discord
@namespace      https://gitlab.com/GrantMoyer
@version        1.1.0
@description    Makes the sidebars on discord collapse when not hovered
@author         Grant Moyer
@homepageURL    https://gitlab.com/GrantMoyer/collapsing-sidebars-for-discord
@updateURL      https://gitlab.com/GrantMoyer/collapsing-sidebars-for-discord/-/raw/master/collapsing_sidebars.user.css
@license        CC0-1.0
@preprocessor   uso

@var            number max-collapse-width "Maximum Collapsing Width" [950, 0, 1450, 1, 'px']
@var            number transition-duration "Transition Duration" [0.25, 0, 10, 0.01, 's']
==/UserStyle== */
@-moz-document url-prefix("https://discord.com/channels") {
  :root {
    --channel-list-width: 50px;
    --online-list-width: 70px;
    --transition-duration: /*[[transition-duration]]*/;
  }

  @media (max-width: /*[[max-collapse-width]]*/
  ) {
    [class*='sidebar-']:not(:hover) [class*='icons-'] {
      margin-left: -26px;
      margin-top: 6px;
      margin-bottom: -6px;
    }

    [class*='sidebar-']:not(:hover) [class*='iconSpacing-'] {
      background-color: var(--background-tertiary);
      padding-top: 2px;
      padding-left: 2px;
      padding-right: 2px;
    }

    [class*='sidebar-']:not(:hover) [class*='list-'] {
      padding-left: 4px;
    }

    [class*='sidebar-']:not(:hover) {
      width: var(--channel-list-width);
      margin-right: 0;
    }

    [class*='sidebar-'] {
      margin-right: calc(-240px + var(--channel-list-width));
    }

    [class*='sidebar-']:not(:hover) [class*='children-'] {
      opacity: 0;
    }

    [class*='membersWrap-'] {
      margin-left: calc(-240px + var(--online-list-width));
    }

    [class*='members-']:not(:hover) {
      width: var(--online-list-width);
      margin-left: calc(240px - var(--online-list-width));
    }

    [class*='members-']:not(:hover) [class*='icon-'] {
      position: absolute;
      left: 0px;
      padding: 2px;
      background-color: var(--background-tertiary);
      border-radius: 50%;
    }
  }

  [class*='membersWrap-'] {
    transition: margin var(--transition-duration);
  }

  [class*='members-'] {
    transition: width var(--transition-duration), margin var(--transition-duration);
  }
  [class*='icons-'] {
    transition: margin var(--transition-duration);
  }

  [class*='iconSpacing-'] {
    transition: margin var(--transition-duration), background-color var(--transition-duration), padding var(--transition-duration);
    border-radius: 50%;
  }

  [class*='list-'] {
    transition: padding var(--transition-duration);
  }

  [class*='sidebar-'] {
    transition: width var(--transition-duration), margin var(--transition-duration);
    z-index: 1000;
  }

  [class*='sidebar-'] [class*='children-'] {
    transition: opacity var(--transition-duration);
  }
}